<div class="space">
<%= form_for [user, wiki] do |f| %>
     <% if wiki.errors.any? %>
       <div class="alert alert-danger">
         <h4><%= pluralize(wiki.errors.count, "error") %>.</h4>
         <ul>
           <% wiki.errors.full_messages.each do |message| %>
             <li><%= message %></li>
           <% end %>
        </ul>
      </div>
      <% end %>
      <div class="field form-group">
        <%= f.label :title, class: "control-label" %><br>
        <%= f.text_field :title, class: "form-control", placeholder: "Wiki Title" %>
      </div>
      <div class="field form-group">
        <%= f.label :body, class: "control-label" %><br>
        <%= f.text_area :body, cols: "30", rows: "10", class: "form-control", placeholder: "Wiki Body" %>
      </div>
      <% if current_user.admin? || current_user.premium? %>
        <div class="field form-group">
          <%= f.check_box(:private) %>
          <%= f.label(:private, "Make this wiki private") %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit class:"btn btn-success btn-lg" %>
      </div>
<% end %>
</div>
