<div class="space">
  <h1> This is the wiki index </h1>
  <%= current_user.email %>
  <br>
  <p>The current time is: <%= Time.now %></p>
  <% time = Time.now %>
  <% if time < " 15:00:00 -0800" %>
  O Hai
  <%else%>
  Go get the la
  <%end%>
  <br>
  <%= user_signed_in? %>
  <br>
  <%= current_user.email %>
  <br>
  <%= current_user.role %>
  <br>
  <h2>your wikis</h2>
  <p>you have <%= current_user.wikis.count%> wikis</p>
  <br>
  <% current_user.wikis.each do |wiki| %>
          <h4 class="media-heading"><%= link_to wiki.title, wiki %></h4>
          <p>•  <% if wiki.private %>
              <small>private</small>
              <% else %>
              <small>public</small>
              <% end %> </p>
  <% end %>
  <h2>la fin</h2>
  <br>
  <div class="col-md-8">

    <div>

      <% if current_user.premium? %>
        <%= link_to "Downgrade", charge_path(:current_user), method: :delete %>
      <% end %>
   </div>

  <% @wikis.each do |wiki| %>
    <% if !wiki.private || current_user.premium? || current_user.admin? %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to wiki.title, wiki %>
          </h4>
          <small>
            <%= wiki.body %>
          </small>
          <p>•  <% if wiki.private %>
              <small>private</small>
              <% else %>
              <small>public</small>
              <% end %> </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

</div>
