<div class="space">
  <p>The current time is: <%= Time.now %></p>
  <% time = Time.now %>
  <% if time < " 15:00:00 -0800" %>
  O Hai
  <%else%>
  Go get the la
  <%end%>
  <br>
  <p> your user id is :  <%= current_user.id %> </p>
  <br>
  <%= current_user.role %>
  <br>
  <!-- <h2>your wikis</h2>
  <p>you have <%= current_user.wikis.count%> wikis</p>
  <br>
  <% current_user.wikis.each do |wiki| %>
          <h4 class="media-heading"><%= link_to wiki.title, wiki %></h4>
          <p>•  <% if wiki.private %>
              <small>private</small>
              <% else %>
              <small>public</small>
              <% end %> </p>
  <% end %>
  <h2>la fin</h2> -->
  <br>
  <div class="col-md-8">
    <div>
      <% if current_user.premium? %>
        <%= link_to "Downgrade", charge_path(:current_user), method: :delete %>
      <% end %>
   </div>

   <h1>All the Wikis</h1>
<hr />
<% @wikis.each do |wiki| %>
  <% if premium_view?(wiki) %>
    <div class="media">
      <div class="media-body">
        <h3 class="media-heading"><%= link_to wiki.title, wiki %></h3>
        <p><%= markdown(wiki.body) %></p>
        <h5>Created <%= time_ago_in_words wiki.created_at %> ago by <%= wiki.user_id || current_user.id %></h5>
        <p>•<% if wiki.private %>
              <small>private</small>
            <% else %>
              <small>public</small>
            <% end %>
      </div>
    </div>
  <% if wiki != @wikis.last %>
  <hr />
  <% end %>
<% end %>
<% end %>
